body {
  background-color: white;
}

nav {
  text-align: center;
  padding-top: 0.5%;
  background-color: rgb(72, 181, 253);
}

nav a {
  padding: 2em;
  font-family: "Arial";
}

h1 {
  text-align: center;
}

.project {
  padding: 1.5%;
  margin: 1%;
  background-color: rgb(255, 228, 196);
}

.project a {
  color: black;
}

.project a :hover {
  color: gray;
}

.project-page {
  width: 80%;
  margin: auto;
  padding: 2%;
  background-color: rgb(255, 228, 196);
}

.project-header {
  text-align: center;
  margin-bottom: 2%;
}

.project-header img {
  width: 25%;
  height: auto;
}

.project-content {
  font-family: Arial;
  line-height: 1.6;
}

.project-section {
  margin-top: 2%;
}
