body {
    background-color: white;
}

nav {
    text-align: center;
    padding-top: .5%;
    background-color: rgb(72, 181, 253);
}

nav a {
    padding: 2em;
    font-family: 'Arial';
}

h1 {
    text-align: center;
}